h4 {
  text-align: start;
}
p {
  text-align: start;
}
img {
  width: 400px;
}
.about-us {
  height: 100vh;
  display: flex;
}
.text {
  margin: 10px;
}
.img {
  width: 400px;
  margin: 10px;
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }
}
